<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>see-realview | report</title>
    <link type="text/css" th:href="@{../static/css/bug-report.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{../static/scripts/bug-report.js}"></script>
</head>
<body>
    <div class="report-container">
        <nav id="navigation">
            <a class="menu-link" href="/">SEE-REALVIEW</a>
            <div id="left-items">
                <a class="menu-link" href="/bug-report">REPORT</a>
                <a class="menu-link" href="/about">ABOUT</a>
            </div>
        </nav>
        <h2>Bug Report</h2>
        <form id="bug-report-form">
            <label for="subject">제목</label>
            <input type="text" id="subject" name="subject" required>

            <label for="content">내용</label>
            <textarea id="content" name="content" required></textarea>

            <button type="button" id="report-btn" onclick="sendEmail()">전송</button>
        </form>
    </div>
</body>
</html>