<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>see-realview</title>
    <link type="text/css" th:href="@{../static/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{../static/scripts/main.js}"></script>
</head>
<body>
<div class="main-container">
    <h2 class="main-title">see-realview</h2>
    <p id="notice">100% 정확한 분석이 아닙니다. 재미로만 봐주세요.</p>
    <div id="input-wrap">
        <input type="text" name="" value="" id="search-input">
    </div>
    <div class="search-container">
    </div>
</div>
</body>
</html>